<!-- Floating Background Icons -->
<div class="floating-icons">
  <span class="floating-icon" nz-icon nzType="code" nzTheme="outline"></span>
  <span class="floating-icon" nz-icon nzType="laptop" nzTheme="outline"></span>
  <span class="floating-icon" nz-icon nzType="database" nzTheme="outline"></span>
  <span class="floating-icon" nz-icon nzType="cloud" nzTheme="outline"></span>
  <span class="floating-icon" nz-icon nzType="api" nzTheme="outline"></span>
  <span class="floating-icon" nz-icon nzType="global" nzTheme="outline"></span>
  <span class="floating-icon" nz-icon nzType="mobile" nzTheme="outline"></span>
  <span class="floating-icon" nz-icon nzType="desktop" nzTheme="outline"></span>
  <span class="floating-icon" nz-icon nzType="rocket" nzTheme="outline"></span>
  <span class="floating-icon" nz-icon nzType="bulb" nzTheme="outline"></span>
</div>

<router-outlet></router-outlet>
